<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="/css/default.css">
</head>
<body>
<div id="container">
    <form action="/members/join" method="post" th:object="${memberDto}">
        <h1>회원가입</h1>
        <div th:if="${#fields.hasGlobalErrors()}">
            <p th:class="error" th:each="error : ${#fields.globalErrors()}" th:text="${error}"></p>
        </div>
        <table>
            <tr>
                <th>아이디</th>
                <td>
                    <input type="text" th:field="*{id}">
                    <div th:class="error" th:errors="*{id}"></div>
                </td>
            </tr>
            <tr>
                <th>패스워드</th>
                <td>
                    <input type="password" th:field="*{password}">
                    <div th:class="error" th:errors="*{password}"></div>
                </td>
            </tr>
            <tr>
                <th>이름</th>
                <td>
                    <input type="text" th:field="*{name}">
                    <div th:class="error" th:errors="*{name}"></div>
                </td>
            </tr>
        </table>
        <p>
        <div class="center">
            <input type="button" onclick="location.href='/'" value="메인으로">
            <input type="submit" value="가입하기">
            <input type="reset" value="취소">
        </div>
    </form>
</div>
</body>
</html>