<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <title>방명록 리스트</title>
    <link rel="stylesheet" href="/css/default.css">
</head>
<body>
<div id="container">
    <h1>방명록 리스트</h1>
    <div th:if="${session.loginMember}">
        <input type="button" onclick="location.href='/members/logout'" value="로그아웃">
        <input type="button" onclick="location.href='/guestbooks/write'" value="방명록 작성하기">
    </div>
    <div th:unless="${session.loginMember}">
        <input type="button" onclick="location.href='/members/join'" value="회원가입">
        <input type="button" onclick="location.href='/members/login'" value="로그인">
    </div>
    <th:block th:each="guestbook : ${guestbooks}">
        <fieldset>
            <legend>작성자: [[${guestbook.name}]]</legend>
            [[guestbook.contents]]
        </fieldset>
    </th:block>
</div>
</body>
</html>