<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <title>방명록 리스트</title>
    <link rel="stylesheet" href="/css/default.css">
</head>
<body>
<div id="container">
    <h1>방명록 리스트</h1>
    <div th:if="${session.loginMember}">
        <input type="button" onclick="location.href='/members/logout'" value="로그아웃">
        <input type="button" onclick="location.href='/guestbooks/write'" value="방명록 작성하기">
    </div>
    <div th:unless="${session.loginMember}">
        <input type="button" onclick="location.href='/members/join'" value="회원가입">
        <input type="button" onclick="location.href='/members/login'" value="로그인">
    </div>
    <p>
    <table>
		<tr>
			<th>No</th>
			<th>내용</th>
			<th>등록일</th>
		</tr>
		<tr th:each="guestbook : ${guestbooks}">
			<td class="center" th:text="${guestbookStat.count}"></td>
			<td><a th:href="@{/guestbooks/update/{guestbook_id}(guestbook_id=${guestbook.guestbook_id})}" th:text="${guestbook.contents}"></a></td>
			<td class="center" th:text="${#temporals.format(guestbook.created_time, 'yyyy-MM-dd hh:mm:ss')}"></td>
		</tr>
	</table>
</div>
</body>
</html>